/* CSS for the app container */
.app-container {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  min-height: 100vh; /* Make sure it takes up the full height of the viewport */
}

/* CSS for the main content area */
.content {
  flex: 1; /* This makes the content area take up all available space */
  padding: 20px; /* Add some padding if needed */
}

/* CSS for the footer */
footer {
  background-color: #343a40; /* Background color for the footer */
  color: white; /* Text color */
  padding: 20px 0; /* Padding for the footer */
  text-align: center; /* Center-align text */
}

.alternate-rows > .row:nth-child(even) {
  background-color: #f8f9fa; /* Light gray for odd rows */
}

.alternate-rows > .row:nth-child(odd) {
  background-color: #ffffff; /* White for even rows */
}

.equal-height {
  display: flex;
  flex-direction: column;
}


.custom-accordion .accordion-button {
  background-color: #f0f0f0 !important; /* Background color */
  color: black !important; /* Text color */
  border: none !important; /* Remove border */
  box-shadow: none !important; /* Remove box-shadow */
  padding: 0 !important;
  margin: 0 !important;
}


.custom-accordion .accordion-item {
  border: none !important; /* Remove border from accordion item */
}

/* .custom-accordion-body {
  padding-top: 5px !important; 
  padding-bottom: 5px !important;
  margin-top: 0 !important; 
  margin-bottom: 0 !important;
} */












